@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

 /* Nav bar styling  */
 
 nav{
   height: 8rem;
 }

 .nav__cart{
   height: 4rem;
 }

 .active{
   background-color:blue;
 }

.product{
  transition: .3s;
}
.product__image{
  
  transition: .3s;
}

.product:hover .product__image{
  transform: scale(1.1) ;
  
}


 .product  .product__price{
   min-width: 10rem;
 }
 .product-page__description{
   line-height: 160%;
   letter-spacing: 1.3px;
 }


 .show-filter-box{
   display:block
 }

 .hide{
   transform: translateX(50px);
   opacity: 0;
   transition: .3s;
 }
 .show{
  transform: translateX(0);
  opacity: 1;
 }
 