@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

 /* Nav bar styling  */
 
 nav{
   height: 8rem;
   /* background-color: brown; */
 }

 .nav__cart{
   height: 4rem;
 }

 .active{
   background-color:blue;
 }

.product{
  /* min-width: 42rem; */
  /* width:clamp(33rem,30vw,42rem); */
  transition: .3s;
  /* box-shadow: 0px 7px 39px -8px #4b4b4b;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
  border: 1px solid transparent; */
  
}
.product__image{
  
  transition: .3s;
}
.product:hover{
  /* border: 1px solid ; */
  /* box-shadow: 0px 7px 39px -8px gray ; */
  /* transform: translateY(-10px); */
}
.product:hover .product__image{
  transform: scale(1.1) ;
  
}


 .product  .product__price{
   min-width: 10rem;
 }
 .product-page__description{
   line-height: 160%;
   letter-spacing: 1.3px;
 }